/* apply styles to <header> */



.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: DarkSlateBlue;
    
}
  
  header h2 {
    color: white;
    text-align: center;
    font-size: 35px;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      margin: 0;
      padding: 0;
    }
    
    /* .container {
      max-width: 600px;
      margin: 20px auto;
      padding: 20px;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      display: flex; /* Display children elements in a flexbox */
      /* flex-direction: column; /* Stack children elements vertically */
      /* align-items: flex-start; /* Align children elements to the left side */
    /* }  */
     
    /* .search-container {
      display: flex;
      justify-content: flex-start;   /* justify-content: flex-start;   */
      /* align-items: center;  
      margin-bottom: 20px;
    } */
     
    /* #search-input {
      padding: 8px;
      width: 200px;
      border: 1px solid #ccc;
      border-radius: 5px 0 0 5px;
    }
    
    #search-btn {
      padding: 8px 12px;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    } */
    
    /* .weather-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
      justify-content: flex-start;
    }
    
    .weather-card {
      padding: 10px;
      background-color: #f0f0f0;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    } */
    
    /* Add additional styles as needed for the weather information */